@import './assets/fonts/iconfont.css';
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

@tailwind base;
@tailwind utilities;

[data-color-scheme='dark'] {
  color-scheme: dark;
  --primary-color: #384aff;
  --bg-color: #1c1b20;
  --text-color: #a09fa5;
  --link-color: #faf9fc;
  --heading-color: #faf9fc;
  --border-color: #ffffff1a;
  --block-bg: #1c1b20;
}

[data-color-scheme='light'] {
  color-scheme: light;
  --primary-color: #384aff;
  --bg-color: white;
  --text-color: #57606a;
  --link-color: #111111;
  --heading-color: #111111;
  --border-color: #0404051a;
  --block-bg: white;
}

@font-face {
  font-family: 'Calibre';
  src: url('./assets/fonts/Calibre-Medium-Custom.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Calibre';
  src: url('./assets/fonts/Calibre-Semibold-Custom.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}

body {
  background-color: var(--bg-color);
}

.mono {
  font-size: 44px;
  font-family: 'Space Mono', monospace;
  letter-spacing: -1px;
  font-weight: 700;
  line-height: 1.1em;
}

h1 {
  @apply text-2xl;
  line-height: 1.3em;
}

h2 {
  @apply text-xl;
  line-height: 1.2em;
}

h3 {
  @apply text-lg;
}

h4 {
  @apply text-md;
}

h5 {
  @apply text-sm
}

p {
  @apply text-lg pb-2;
}

* {
  outline: none !important;
}

h1,
h2,
h3,
h4 {
  color: var(--heading-color);
  font-weight: 600;
}

a,
.a {
  color: var(--link-color);

  &:hover {
    cursor: pointer;
  }
}

.choice-bg {
  &._1 { @apply bg-green; }
  &._2 { @apply bg-red; }
  &._3 { @apply bg-gray-500; }
}

#app {
  height: 100%;
}

::placeholder {
  color: var(--text-color) !important;
  opacity: 0.6 !important;
}

.eyebrow {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 16px;
}

.notification {
  color: white !important;
}

.x-block {
  @apply block border-y border-x-0 sm:border-x sm:rounded-lg;
}

// Shot UI kit

.s-input {
  @apply text-skin-heading border border-skin-border focus-within:border-skin-link block rounded-[24px] py-2 px-3 w-full bg-transparent;
}

.s-label {
  @apply block mb-1;
}

.s-compact {
  .s-base {
    @apply relative pt-[8px]
  }

  .s-label {
    @apply absolute left-2 bg-skin-bg -top-[6px] px-2;
  }
}

.lazy-loading {
  @apply bg-skin-text animate-pulse-fast;
}

